.newsletter {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  background: #9d8a74;
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    label {
      color: white;
      font-family: "Playfair Display";
      font-weight: bolder;
      font-size: 35px;
    }
    input {
      border-radius: 25px;
      border: none;
      height: 25px;
      padding: 10px;
    }
    .button {
      background-color: white !important;
      color: black !important;
      font-weight: bold;
      align-self: center;
      margin-top: 10px;
      border-radius: 25px !important;
    }
  }
}
