.container--first {
  background: #eeebeb;
  height: 70vh;
  position: relative;
  img {
    position: absolute;
    height: 70vh;
    width: 100vw;
  }
  .text {
    width: 700px;
    padding: 20px;
    background: rgb(245, 245, 245, 0.9);
    position: absolute;
    bottom: 0;
    right: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    p {
      font-size: 30px;
      font-weight: bold;
    }
  }
}

.container--second {
  margin-top: 10%;
  margin-bottom: 8%;
  display: flex;
  .text {
    margin: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .button {
      align-self: end;
      margin: 20px;
      padding: 10px;
      border-radius: 15px !important;
    }
  }
  img {
    width: 778px;
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.25);
  }
}

.container--inspiration {
  margin-top: 5%;
  margin-bottom: 8%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  .picture--inspiration {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  img {
    margin: 10px;
    border-radius: 25px;
    width: 304px;
    height: 232px;
  }
}

.container--solution {
  margin-top: 8%;
  margin-bottom: 8%;
  display: flex;
  .text {
    margin: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    .button {
      margin-top: 10px;
      align-self: end;
    }
  }
  img {
    width: 778px;
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.25);
  }
}

.solution2 {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  img {
    width: 50%;
  }

  .text-before {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 28%;
    background: rgb(245, 245, 245, 0.7);
    padding: 10px;
    border-radius: 15px;
    left: 34%;
  }

  .text-after {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 28%;
    background: rgb(245, 245, 245, 0.7);
    padding: 10px;
    border-radius: 15px;
    left: 60%;
  }
}

.button {
  font-family: "Poppins";
  font-weight: bold !important;
  font-size: 20px !important;
  background: #34383e !important;
  border-radius: 15px !important;
  color: #f5f5f5 !important;
  align-self: end;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

h2 {
  font-family: "Playfair Display";
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

h3 {
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: 800;
}
p {
  font-size: 26px;
}
